.p-Home.Flex7 {
display: flex;
justify-content: center;
padding-top: 32px;
padding-bottom: 32px;
font-family: IBM Plex Sans;
}
.p-Home.Flex1 {
display: flex;
justify-content: space-between;
width: 80%;
}
.p-Home.Flex2 {
display: flex;
}
.p-Home.Flex3 {
display: flex;
column-gap: 24px;
font-family: IBM Plex Sans;
font-weight: 600;
align-self: center;
font-size: 18px;
}
.p-Home.Flex6 {
display: flex;
column-gap: 10px;
}
.p-Home.Flex9 {
display: flex;
justify-content: space-between;
padding-top: 50px;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 50px;
column-gap: 50px;
}
.p-Home.Flex10 {
display: flex;
}
.p-Home.Div2 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 60px;
}
.p-Home.Div5 {
;
}
.p-Home.Flex13 {
display: flex;
}
.p-Home.Flex11 {
display: flex;
}
.p-Home.Flex12 {
display: flex;
padding-bottom: 50px;
align-items: stretch;
justify-content: center;
row-gap: ;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
}
.p-Home.Div7 {
;
}
.p-Home.Flex17 {
display: flex;
justify-content: flex-start;
flex-direction: row;
align-items: stretch;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
column-gap: 150px;
}
.p-Home.Flex16 {
display: flex;
justify-content: center;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
}
.p-Home.Div9 {
padding-top: 5px;
}
.p-Home.Div8 {
;
}
.p-Home.Flex20 {
display: flex;
column-gap: 100px;
justify-content: center;
align-items: center;
padding-top: 10px;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 50px;
}
.p-Home.Div13 {
;
}
.p-Home.Div14 {
;
}
.p-Home.Div15 {
;
}
.p-Home.Flex22 {
display: flex;
padding-left: 150px;
padding-right: 150px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Div16 {
;
}
.p-Home.Flex23 {
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 0px;
column-gap: 0px;
}
.p-Home.Div17 {
;
}
.p-Home.Flex24 {
display: flex;
background-color: #000000;
padding-left: 150px;
padding-right: 150px;
padding-top: 250px;
}
.p-Home.Flex25 {
display: flex;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 400px;
color: #ffff;
}
.p-Home.TextBox1 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
}
.p-Home.TextBox3 {
;
}
.p-Home.TextBox4 {
;
}
.p-Home.TextBox5 {
;
}
.p-Home.TextBox7 {
;
}
.p-Home.TextBox8 {
;
}
.p-Home.Image1 {
width: 20px;
height: ;
}
.p-Home.TextBox9 {
;
}
.p-Home.TextBox12 {
;
}
.p-Home.TextBox13 {
;
}
.p-Home.TextBox14 {
padding-top: 40px;
padding-bottom: 40px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 22px;
color: #5a5252ff;
}
.p-Home.Button2 {
color: #fff;
background-color: #000000;
padding-top: 15px;
padding-left: 20px;
padding-bottom: 15px;
padding-right: 20px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.TextBox18 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
text-align: left;
align-self: center;
padding-left: 15px;
padding-right: 5px;
}
.p-Home.Image4 {
width: 30px;
height: 30px;
align-self: center;
}
.p-Home.Image2 {
height: 450px;
padding-left: 0px;
width: 400px;
}
.p-Home.TextBox16 {
align-self: auto;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
padding-bottom: 20px;
padding-top: 20px;
color: #5a5252ff;
}
.p-Home.Image5 {
;
}
.p-Home.Image6 {
;
}
.p-Home.Image8 {
;
}
.p-Home.Image9 {
padding-left: 0px;
padding-right: 0px;
align-self: auto;
}
.p-Home.TextBox21 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 60px;
text-align: center;
padding-left: 180px;
padding-right: 180px;
}
.p-Home.TextBox19 {
align-self: auto;
text-align: center;
font-size: 25px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image13 {
width: 50px;
height: 50px;
padding-top: 50px;
padding-bottom: 20px;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.TextBox29 {
padding-top: 10px;
padding-bottom: 10px;
color: #666666;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image14 {
width: 50px;
height: 50px;
padding-top: 50px;
padding-bottom: 20px;
}
.p-Home.TextBox28 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.TextBox30 {
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 500;
color: #666666ff;
}
.p-Home.Image15 {
width: 50px;
height: 50px;
padding-top: 50px;
padding-bottom: 20px;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.TextBox31 {
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 500;
color: #666666ff;
}
.p-Home.TextBox32 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.Button3 {
color: #fff;
background-color: #000000;
padding-top: 15px;
padding-left: 20px;
padding-bottom: 15px;
padding-right: 20px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.TextBox33 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 60px;
}
.p-Home.TextBox36 {
align-self: auto;
text-align: center;
font-size: 25px;
font-family: IBM Plex Sans;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox35 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 60px;
padding-left: 0px;
padding-right: 0px;
color: #000f;
}
